.modal {
    background: #fff url("../../../../assets/illustration.svg") no-repeat left center;
    background-size: 20%;
}

.headerContent {
    display: flex;
    justify-content: center;
    align-items: center;

    transform: translateX(24px);
}

.rate {
    cursor: pointer;
    color: var(--color-light-neutral-translucent-500);
}

.rate.active {
    color: var(--color-light-accent-primary);
}

.content {
    padding-left: 120px;
    padding-right: 90px;

    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 20px;
}