.container {
    border-radius: 12px;
    padding: 20px 36px;
    background-color: #F3F3F3;

    transition: all 0.3s;
}

.container:hover {
    background-color: rgba(243, 243, 243, 0.5);
    box-shadow: 1px 2px 10px rgba(0, 0, 0, 0.1);
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.container.shortened .header {
    margin-bottom: 0;
}

.headerTitle {
    display: flex;
    align-items: center;
    gap: 12px;
}

.title {
    font-size: 1.1rem;
    font-weight: 500;
    opacity: 80%;
}

.id {
    font-size: 0.9rem;
    opacity: 30%;
}

.description {
    font-size: 0.9rem;
    opacity: 60%;
    line-height: 1.25;
}

.timestamp {
    margin-top: 20px;
    opacity: 30%;
}

.meta {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    margin-top: 20px;
    color: rgba(0, 0, 0, 0.6);
}