.container {
    height: 87.5svh;
    overflow: hidden;
    display: flex;

    border-radius: 24px;
    padding: 24px 36px;

    margin: 3svh 2vw 0;

    background-color: #E2E2E2;
}

.image {
    flex: 1 0 60%;
}

.tabs {
    width: 100%;

    margin-top: 60px;
}

.tab {
    margin-top: 30px;
}