.container {
    margin: 20px;
}

.title {
    font-weight: 700;
    font-size: 1.5rem;
    color: rgba(0, 0, 0, 0.7);
}

.notifications {
    margin-top: 36px;
    display: flex;
    flex-direction: column;
    row-gap: 24px;
}