.modal {
    background: #fff url("../../../../../../assets/illustration.svg") no-repeat left center;
    background-size: 20%;
}

.content {
    padding-left: 220px;
    padding-right: 80px;
}

.title {
    font-size: 32px;
    line-height: 28px;
}

.text {
    margin-top: 40px;
    color: rgba(0, 0, 0, 0.4);
    font-size: 18px;
}