.container {
    width: 5vw;
    flex-shrink: 0;
    background-color: #fff;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.nav {
    display: flex;
    flex-direction: column;
}

.bottom {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.bottomItem {
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
}

.logout svg path {
    transition: stroke 0.3s;
}

.logout:hover svg path {
    stroke: #ef3124;
}

.mail svg path {
    transition: fill 0.3s;
}

.mail:hover svg path {
    fill: #ef3124;
}