.centered {
    height: 80svh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.list {
    display: flex;
    flex-direction: column;
    gap: 32px;
    margin-top: 36px;
}